@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* Размеры шрифтов сайта ivi */
/* ['10px', '13px', '15px', '16px', '17px', '20px', '24px', '32px', '56px'] */

.page-bg-color {
  @apply bg-[#100e19]
}

.page-container {
  @apply max-w-screen-xl mx-auto;
}

@layer components {
  .header-link {
    @apply text-[15px] font-normal text-white/[.48] hover:text-white transition-all duration-300;
  }
}

.link-list-title {
  @apply mb-[8px] text-[15px] font-bold text-white leading-[20px] 
}
