@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #100e19;
}

/* Размеры шрифтов сайта ivi */
/* ['10px', '13px', '15px', '16px', '17px', '20px', '24px', '32px', '56px'] */

.page-container {
  @apply max-w-screen-xl mx-auto;
}

.swiper-button-disabled {
  display: none !important;
}
